<div class="flex-grow-1 content-styles" id="content-layout">

    <div class="income-and-expenses-edit">

        <h1 class="titles">Редактирование дохода/расхода</h1>

        <div class="category-create-block">

            <select class="category-create-input form-control form-select">
                <option>Доход</option>
                <option>Расход</option>
            </select>
            <select class="category-create-input form-control form-select">
                <option value="2">Зарплата</option>
                <option value="1">Жильё</option>
            </select>
            <input class="category-create-input form-control" type="number"
                   placeholder="Тут будет подставляться сумма в $">

            <input class="flatpickr flatpickr-input category-create-input form-control" type="text"
                   placeholder="Тут будет подставляться дата..." readonly="readonly"
                   id="income-create-datepicker">

            <input class="category-create-input form-control" type="text"
                   placeholder="Тут будет подставляться комментарий">

            <div class="category-create-actions">
                <!--на данный момент обе кнопки пока ведут на основную страницу доходов -->
                <a href="/income-and-expenses" class="btn btn-success me-2">Сохранить</a>
                <a href="/income-and-expenses" class="btn btn-danger">Отмена</a>
            </div>

        </div>

    </div>

</div>
